/* UTILITIES */
/* FORMATTAZIONE PAGINA */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* UTILITIES */

/* /* BOX-VARI  */

 /* -ATTENZIONE!!-
/* ALTEZZE FISSE    Togliere le altezze (e bordi) */

.box-100-prova{
    width: 100%;
    border: 2px solid black;
    height: 300px;
    margin-top: 30px;
}
.box-100{
    width:100%;
    border: 0.5px solid black ;
}



/* CENTRATURE-CONTAINER*/

.container-100{
    width: 100%;
    margin: 0 auto;
}

.container-80{
    width: 80%;
    margin: 0 auto;
}
.container-60{
    width: 60%;
    margin: 0 auto;
   
}
.container-50{
    width: 50%;
    margin: 0 auto;
   
}
.container-40{
    width: 40%;
    margin: 0 auto;
    
   
}

/* POSITION */

.relative{
    position: relative;
    
}
.absolute{
    position: absolute;
}




/* FLEX */

.flex {
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-jc-between{
    display: flex;
    justify-content:space-between;
}
.flex-jc-around{
    display: flex;
    justify-content: space-around;
}

/* COLONNE-FLEXATE */

.column-cnt-jc-between{
    display: flex;
    justify-content:space-between;
    
}

.column-cnt{
    display: flex;
    
}

.col{
    width:calc(100% / 3);
    border: 2px solid black;
    
}

/* COLONNE CON SPAZIO(GLUTTER) */
.column-cnt-glutter{
    display:flex;
    justify-content: space-between;

}
.col-glutter{
    width:32%;
    border: 2px solid black;
    height: 300px;
}

/* BOTTONI VARI */
.blue-btn{
    color: white;
    background-color: blue;
    text-decoration: none;
    padding: 10px 15px;
    text-align: center;
    display:inline-block;
}

.white-btn{
    border:1px solid black;
    text-decoration: none;
    text-align:center;
    color: black;
    padding: 10px 15px;
    background-color: white;
    display: inline-block;
    

}

/* SEZIONE DI QUADRATI */

.box-col{
    display:flex;
    width:calc(100% / 3);
    height: calc(100vw / 3);
    flex-wrap: wrap;
}

.square{
    width:50%;
    height: 50%;
   
    
}





/* INIZIO PROGETTO */





header{
    background-color: white;
    position: sticky;
    top:0;

}

nav{
    align-items: center;
    padding: 30px;
}
nav  img{
    vertical-align: middle;
    width:100px;
    margin-bottom: 5px;
    
}
nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

nav span{
    background-color: blue;
    color: white;
    padding: 8px 15px;
}

/* MAIN */

/* JUMBO */


.jumbo-container{
    background-color: #b4d0e7 ;
}
.container-60 h1{
    font-size:3.5rem;
    padding:20px 0px ;
    
}
.relative-2{
    position: relative;
    top: 50px;
}

.jumbo-text div{
    padding-bottom: 28px;
}

.jumbo-text  {
    flex-basis: 30%; 
    
}
.jumbo-img {
    
    flex-basis: 70%;
}
.jumbo-img img {
    width:100%;  

}

.fa-arrow-down{
    font-size: 2rem;
}


/* SECTION1 */

.main-container h2{
    font-size: 2.3rem;
    text-align: left;
    margin: 40px 0;

}
.main-title{
    padding:40px 0;
}
/* COLONNE */

.col{
    border: 1px solid lightgrey;
}

.top-col{
    text-align: center;
    border-bottom: 2px solid  lightgrey;
    font-size: 1rem;
    vertical-align: middle;
}



.fa-user {
    font-size: 0.8rem;
    vertical-align: middle;
}

.col1 ul{
    padding:20px 0;
}
.col1 li{
    padding: 10px 0px;
    list-style: none;
    padding-left: 25px;
    text-indent: -0.5rem;
    text-align: left;
    margin: 0 10px;
   
}
.col1 div{
    padding: 20px 0;
    margin: 20px 15px;
}


.hr{
    border-top: 1px solid  lightgrey;
    width: 50px;
}
.fa-check{
    color:blue;
}

.col2{
    margin: 0 20px;
}

/* ENTERPRISE */

.enterprise{
    
    padding-top: 30px;

}

.enterprise-text{
   padding: 0 20px;
    line-height: 20px;
    align-items: center;
    
    
}
.enterprise-text li{
    list-style: none;
}

.enterprise-text h4{
margin-bottom: 100px;
margin-top: 30px;
}
.enterprise-text div{
    font-size: 0.7rem;
}
.enterprise-cnt{
    margin-top:30px;
    border: 1px solid  lightgrey;
}
.enterprise-btn{
    
    align-items: center;
    padding: 0px 20px;
   
    
}
.enterprise-btn div{
    font-size: 1rem;
    
}



/* SECTION2 */
/* PARTNER */


.partner{
    
    padding-top: 70px;
}

.partner-img{
    flex-basis: 60%;
}
.partner img{
    width: 100%;
    
}
.partner-text{
    padding: 0px 20px;
    flex-basis: 40%;
    
}
.partner-text div{
    padding-top:20px;
    padding-bottom:30px;
}




/* SECTION3 */
/* CARDS */

.card img{
    width: 100%;
}
.sec3 h3{
   padding-top: 100px;
   padding-bottom: 100px;
}

.card h4{
    padding-bottom: 40px;
}

/* BUISNESS */

.buisness {
    margin-bottom: 70px;
}
/* SECTION4 */

.box-col{
    display: flex;
    width:calc(100% / 3);
    height: calc(100vw / 3);
    flex-wrap: wrap;

    
}
.box-col2{
    width:calc(100% / 3);
    height: calc(100vw / 3);
    background-color: rgb(248, 241, 241);
    padding: 50px 30px;
    
}

.hr2{
    border-top: 1px solid  lightgrey;
    width: 50px;
    padding-bottom: 100px;
    margin-top: 100px;
}



.square{
    width:50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    
}
.square img{
    width: 60%;
    filter: invert(100%);
}
.sq-1 {
    background-color: #a2d39a;
    border:10px solid #d1e9cd;
   }

.sq-2 {
    background-color:#61082b;
   } 
.sq-3 {
    background-color:#1c93ce;
   }
.sq-4 {
    background-color:#f91c1c;
   }
.sq-5 {
    background-color: #d50b1e;
   }

.sq-6 {
    background-color:#b4d0e7;
   } 
.sq-7 {
    background-color:#0d2481;
   }
.sq-8 {
    background-color:#fed82f;
   }             


/* SECTION5 */


.sec5{
   background-color: #b4d0e7; 
   padding: 150px 0px;
   
}
.sec5 h2{
color:#61082b;
}

/* SECTION6 */

.sec6 h2{
    padding: 50px 0;
}
.sec6-text{
    padding: 50px 0;
}
/* HOVER */

/* FAQ-1 */

.faq1-p{
    display: none;
}

.up-arrow{
    display:none;
    
}

.faq1:hover .up-arrow{
display: block;
}

.faq1:hover .down-arrow{
    display: none;
    }

.faq1:hover .faq1-p{
    display: block;
}

/* FAQ2 */

.faq2-p{
    display: none;
}
.faq2:hover .up-arrow{
    display: block;
    }
    
.faq2:hover .down-arrow{
        display: none;
        }

.faq2:hover .faq2-p{
    display: block;
}

/* FAQ3 */

.faq3-p{
    display: none;
}
.faq3:hover .up-arrow{
    display: block;
    }
    
.faq3:hover .down-arrow{
        display: none;
        }

.faq3:hover .faq3-p{
    display: block;
}



/* FOOTER */

footer{
    background-color: black;
}
.f-col1{
    color: white;
    width: calc(100% / 5);
}

.f-cnt{
    padding: 50px 30px;
}
.f-hr{
    color: white;
    border: 1px solid white;
    width: 100px;
    margin-top: 100px;
}












