/* UTILITIES */
/* FORMATTAZIONE PAGINA */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* UTILITIES */

/* /* BOX-VARI  */

 /* -ATTENZIONE!!-
/* ALTEZZE FISSE    Togliere le altezze (e bordi) */

.box-100-prova{
    width: 100%;
    border: 2px solid black;
    height: 300px;
    margin-top: 30px;
}
.box-100{
    width:100%;
    border: 0.5px solid black ;
}



/* CENTRATURE-CONTAINER*/

.container-100{
    width: 100%;
    margin: 0 auto;
}

.container-80{
    width: 80%;
    margin: 0 auto;
}
.container-60{
    width: 60%;
    margin: 0 auto;
   
}
.container-50{
    width: 50%;
    margin: 0 auto;
   
}
.container-40{
    width: 40%;
    margin: 0 auto;
    
   
}

/* LISTE */




/* FLEX */

.flex {
    display: flex;
}

.flex-jc-between{
    display: flex;
    justify-content:space-between;
}
.flex-jc-around{
    display: flex;
    justify-content: space-around;
}

/* COLONNE-FLEXATE */

.column-cnt-jc-between{
    display: flex;
    justify-content:space-between;
    
}

.column-cnt{
    display: flex;
    
}

.col{
    width:calc(100% / 3);
    border: 2px solid black;
    
}

/* COLONNE CON SPAZIO(GLUTTER) */
.column-cnt-glutter{
    display:flex;
    justify-content: space-between;

}
.col-glutter{
    width:32%;
    border: 2px solid black;
    height: 300px;
}

/* BOTTONI VARI */
.blue-btn{
    color: white;
    background-color: blue;
    text-decoration: none;
    padding: 10px 15px;
    text-align: center;
}




/* INIZIO PROGETTO */

header{
    background-color: white;
    position: sticky;
    top:0;

}

nav{
    align-items: center;
    padding: 30px;
}
nav  img{
    vertical-align: middle;
    width:100px;
    margin-bottom: 5px;
    
}
nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

nav span{
    background-color: blue;
    color: white;
    padding: 8px 15px;
}

/* MAIN */

/* JUMBO */


.jumbo-container{
    background-color: #b4d0e7 ;
}
.container-60 h1{
    font-size:3.5rem;
    padding:70px 0px ;
    
}
.jumbo-text div{
    padding-bottom: 40px;
}

.jumbo-text  {
    flex-basis: 30%; 
    
}
.jumbo-img {
    
    flex-basis: 68%;
}
.jumbo-img img {
    width:100%;
    

}

.fa-arrow-down{
    font-size: 2rem;
}
/* SECTION1 */

.main-container h2{
    font-size: 2.3rem;
    text-align: left;
    margin: 40px 0;

}
.main-title{
    padding:40px 0;
}
/* COLUMNS */

.col{
    border: 1px solid lightgrey;
}

.top-col{
    text-align: center;
    border-bottom: 2px solid  lightgrey;
    font-size: 1rem;
    vertical-align: middle;
}
.fa-user {
    font-size: 0.8rem;
    vertical-align: middle;
}
li{
    padding-bottom: 30px;
    list-style: none;
}


.hr{
    border-top: 1px solid  lightgrey;
    width: 50px;
}
.fa-check{
    color:blue;
}

.col2{
    margin:0 30px;
}

/* ENTERPRISE */

.enterprise-text{
    padding:20px 20px;
    line-height: 30px;
}
.enterprise{
    margin-top:30px;
    border: 1px solid  lightgrey;
}
.partner{
    
    padding-top: 70px;
}

/* PARTNER */

.partner-img{
    flex-basis: 60%;
}
.partner img{
    width: 100%;
    
}
.partner-text{
    padding: 30px 20px;
    flex-basis: 40%;
    
}


.partner-btn{
    border:2px solid  lightgrey;
    text-align:center;
}





